.back-button {
  height: 45px;
  min-width: 120px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: rgb(1, 153, 80);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  align-self: flex-start;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.back-button:hover {
  background: rgb(0, 120, 60);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:active {
  transform: translateY(0);
}
