* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.patients-container {
  background: #F8FAFC;
}

.sidebar {
  background: #A7D7C5;
}

.sidebar a {
  color: #1E293B;
}

.content {
  overflow-y: auto;
}

.patients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-actions {
  display: flex;
  gap: 16px;
}

.header-actions input {
  width: 300px;
  height: 45px;
  border: none;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 0 16px;
  outline: none;
}

.new-patient-btn {
  height: 45px;
  border: none;
  background: #1E6B3A;
  color: white;
  padding: 0 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.patients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.patient-card {
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.patient-icon {
  font-size: 60px;
  color: #1E6B3A;
}

.patient-card h3 {
  color: #1E293B;
}

.patient-card p {
  color: #64748B;
  font-size: 14px;
}

.patient-card span {
  background: #DCFCE7;
  color: #166534;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: bold;
}

.card-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.card-buttons button {
  height: 38px;
  border: none;
  border-radius: 10px;
  padding: 0 14px;
  cursor: pointer;
  background: #E2E8F0;
  font-weight: 600;
  transition: 0.2s;
}

.card-buttons button:hover {
  background: #CBD5E1;
}

.back-button {
  width: fit-content;
  border: none;
  background: transparent;
  color: #1E6B3A;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.2s;
}

.back-button:hover {
  opacity: 0.7;
}

.empty-state {
  width: 100%;

  background: white;

  padding: 40px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.empty-state h2 {
  color: #1E293B;

  margin-bottom: 12px;
}

.empty-state p {
  color: #64748B;
}