.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

.header input {
  width: 300px;
  height: 45px;

  border: none;
  background: #f8f8f8;

  border-radius: 12px;

  padding: 0 16px;

  outline: none;
}